<div class="container">

  <div class="section-title" data-aos="fade-up">
    <h2>Servicios</h2>
    <p>Conoce algunos de nuestros principales servicios.</p>
  </div>

  <div class="row">

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bx bxs-calculator"></i></div>
        <h4 class="title"><a href="">Asesoría contable y financiera</a></h4>
        <p class="description">Declaración de impuestos, balances, flujos de caja, auditorias contables, actualización de libros, gestión de
          planillas y más.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="ri-scales-3-line"></i></div>
        <h4 class="title"><a href="">Asesoría legal</a></h4>
        <p class="description">Constitución de empresas, aceleración de trámites notariales, formalización de
          minería informal, derecho de familia y más.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bx bxs-briefcase"></i></div>
        <h4 class="title"><a href="">Asesoría laboral</a></h4>
        <p class="description">Contratos, nóminas, altas y bajas de personal, cumplimiento de normativa laboral,
          selección de trabajadores y más.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bx bx-code-block"></i></div>
        <h4 class="title"><a href="">Asesoría tecnológica</a></h4>
        <p class="description">Asesoría e implementación de nuevas tecnologías, desarrollo de sistemas, instalación
          de redes, venta y alquiler de equipos de cómputo y más.</p>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card" style='background-image: url("assets/images/services/services_1.jpg");' data-aos="fade-up"
           data-aos-delay="100">
        <div class="card-body">
          <h5 class="card-title">Auditoria contable</h5>
          <p class="card-text">Analizamos los movimientos de cuenta, realizamos correcciones y actualizamos el
            balance.</p>
          <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="card" style='background-image: url("assets/images/services/services_2.jpg");' data-aos="fade-up"
           data-aos-delay="200">
        <div class="card-body">
          <h5 class="card-title">Constitución de empresas</h5>
          <p class="card-text">Reserva de nombre en SUNARP, obtención del RUC, asesoría legal y notarial durante
            todo el proceso.</p>
          <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
        </div>
      </div>

    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-4">
      <div class="card" style='background-image: url("assets/images/services/services_3.jpg");' data-aos="fade-up"
           data-aos-delay="100">
        <div class="card-body">
          <h5 class="card-title">Sistemas de almacén.</h5>
          <p class="card-text">Desarrollo y gestión de sistemas de almacén e inventario. Análisis de datos,
            extracción y transformación de información.</p>
          <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-4">
      <div class="card" style='background-image: url("assets/images/services/services_4.jpg");' data-aos="fade-up"
           data-aos-delay="200">
        <div class="card-body">
          <h5 class="card-title">Derechos de familia</h5>
          <p class="card-text">Pensión alimenticia, separación de bienes, nulidad matrimonial, violencia familiar,
            etc.</p>
          <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
        </div>
      </div>
    </div>
  </div>

</div>
