<!--*********************************************************************************************-->
<!--******************************************* HEADER ******************************************-->
<!--*********************************************************************************************-->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Grupo Valle</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <!-- NAVBAR -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>

        <li><a class="nav-link scrollto" href="#about">Conócenos</a></li>

        <li><a class="nav-link scrollto" href="#services">Servicios</a></li>

        <li><a class="nav-link scrollto " href="#testimonials">Casos de éxito</a></li>

        <li class="dropdown"><a href="#accounting"><span>Contable</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Tributaria</a></li>
            <li><a href="#">Laboral</a></li>
            <li><a href="#">Auditoria</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#legal"><span>Legal</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Familia</a></li>
            <li><a href="#">Mineria</a></li>
            <li><a href="#">Laboral</a></li>
            <li><a href="#">Empresarial</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#systems"><span>Tecnológia</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Diseño de páginas web</a></li>
            <li><a href="#">Desarrollo de sistemas</a></li>
            <li><a href="#">Desarrollo de apps</a></li>
            <li><a href="#">Implementación de redes</a></li>
            <li><a href="#">Instalación y soporte de redes</a></li>
            <li><a href="#">Venta y alquiler de hardware</a></li>
          </ul>
        </li>

        <li><a class="getstarted scrollto" href="#contact">Contáctanos</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- END - NAVBAR -->

  </div>
</header>
<!-- END - HEADER -->

<!--*********************************************************************************************-->
<!--******************************************* HOME ********************************************-->
<!--*********************************************************************************************-->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Haz crecer tu negocio con Grupo Valle. </h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Somos un equipo de profesionales talentosos con 10 años de
          experiencia a disposición de tu empresa o emprendimiento.</h2>
        <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Contáctanos</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="assets/img/home/home_1.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<!-- END - HOME -->

<!--*********************************************************************************************-->
<!--******************************************* MAIN ********************************************-->
<!--*********************************************************************************************-->
<main id="main">

  <!--*********************************************************************************************-->
  <!--******************************************* ABOUT *******************************************-->
  <!--*********************************************************************************************-->
  <section id="about" class="about section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Acerca de nosotros</h2>
      </div>

      <div class="row content">
        <div class="image col-xl-6 d-flex align-items-stretch justify-content-center justify-content-xl-start"
             data-aos="fade-right" data-aos-delay="150">
          <img class="img-fluid" src="assets/img/about/happy_customer.jpg" alt="">
        </div>

        <div class="col-xl-6  pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>En Grupo Valle, nuestra prioridad es mantener la calidad de nuestro servicio y hacer crecer tu negocio.
            Tenemos 10 años de experiencia resolviendo tus problemas y brindándote nuevas alternativas de crecimiento.
            Aquí están algunas métricas de nuestro trabajo:</p>

          <div class="container counts">

            <div class="row">
              <div class="col-xl-12 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left"
                   data-aos-delay="300">

                <div class="content d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>
                          <strong>Clientes felices</strong> , con emprendimientos y/o empresas con crecimiento
                          sostenido.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-shop"></i>
                        <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>
                          <strong>Emprendimientos</strong>
                          puestos en marcha. Tecnológica, legal y contablemente.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-clock"></i>
                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>
                          <strong>Años de experiencia</strong> brindando servicios de calidad al mejor precio.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-card-checklist"></i>
                        <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>
                          <strong>Auditorias</strong> realizadas: Contables, laborales y de seguridad.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END - ABOUT -->

  <!--*********************************************************************************************-->
  <!--****************************************** TEAM *********************************************-->
  <!--*********************************************************************************************-->
<!--  <section id="team" class="team section-bg">-->
<!--    <div class="container">-->

<!--      <div class="section-title" data-aos="fade-up">-->
<!--        <h2>Nuestro Equipo</h2>-->
<!--        <p>En Grupo Valle contamos con los mejores profesionales del mercado.</p>-->
<!--      </div>-->

<!--      <div class="row">-->

<!--        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">-->
<!--          <div class="member" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="member-img bg-secondary">-->
<!--              <img src="assets/img/team/woman.png" class="img-fluid" alt="">-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-google"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="member-info">-->
<!--              <h4>Vanessa Valle</h4>-->
<!--              <span>Gerente General</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">-->
<!--          <div class="member" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="member-img bg-secondary">-->
<!--              <img src="assets/img/team/man.png" class="img-fluid" alt="">-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-google"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="member-info">-->
<!--              <h4>Herbert Pro</h4>-->
<!--              <span>Ing. Sistemas</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">-->
<!--          <div class="member" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="member-img bg-secondary">-->
<!--              <img src="assets/img/team/woman.png" class="img-fluid" alt="">-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-google"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="member-info">-->
<!--              <h4>Elizabeth Valle</h4>-->
<!--              <span>Lic. Contable</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">-->
<!--          <div class="member" data-aos="fade-up" data-aos-delay="400">-->
<!--            <div class="member-img bg-secondary">-->
<!--              <img src="assets/img/team/woman.png" class="img-fluid" alt="">-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-google"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="member-info">-->
<!--              <h4>Rosario Valle</h4>-->
<!--              <span>Lic. Legal</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--  </section>-->
  <!-- END - TEAM -->

  <!--*********************************************************************************************-->
  <!--***************************************** SERVICES ******************************************-->
  <!--*********************************************************************************************-->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Conoce algunos de nuestros principales servicios.</p>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bxs-calculator"></i></div>
            <h4 class="title"><a href="">Asesoría contable</a></h4>
            <p class="description">Declaración de impuestos, auditorias contables, actualización de libros, gestión de planillas y más.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="ri-scales-3-line"></i></div>
            <h4 class="title"><a href="">Asesoría legal</a></h4>
            <p class="description">Constitución de empresas, aceleración de trámites notariales, formalización de minería informal, derecho de familia y más.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bxs-briefcase"></i></div>
            <h4 class="title"><a href="">Asesoría laboral</a></h4>
            <p class="description">Contratos, nóminas, altas y bajas de personal, cumplimiento de normativa laboral, selección de trabajadores y más.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-code-block"></i></div>
            <h4 class="title"><a href="">Asesoría tecnológica</a></h4>
            <p class="description">Asesoría e implementación de nuevas tecnologías, desarrollo de sistemas, instalación de redes, venta y alquiler de equipos de cómputo y más.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- END - SERVICES -->

  <!--************************************** MORE SERVICES ****************************************-->
  <section id="more-services" class="more-services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card" style='background-image: url("assets/img/services/services_1.jpg");' data-aos="fade-up"
               data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title">Auditoria contable</h5>
              <p class="card-text">Analizamos los movimientos de cuenta, realizamos correcciones y actualizamos el
                balance.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card" style='background-image: url("assets/img/services/services_2.jpg");' data-aos="fade-up"
               data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title">Constitución de empresas</h5>
              <p class="card-text">Reserva de nombre en SUNARP, obtención del RUC, asesoría legal y notarial durante
                todo el proceso.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/img/services/services_3.jpg");' data-aos="fade-up"
               data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title">Sistemas de almacén.</h5>
              <p class="card-text">Desarrollo y gestión de sistemas de almacén e inventario. Análisis de datos,
                extracción y transformación de información.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/img/services/services_4.jpg");' data-aos="fade-up"
               data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title">Derechos de familia</h5>
              <p class="card-text">Pensión alimenticia, separación de bienes, nulidad matrimonial, violencia familiar,
                etc.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer más</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END - MORE SERVICES -->

  <!--*********************************************************************************************-->
  <!--************************************** TESTIMONIALS *****************************************-->
  <!--*********************************************************************************************-->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Casos de éxito</h2>
        <p>Conoce alguno de nuestros casos de éxito.</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <!-- CASE 1 -->
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/man.png" class="testimonial-img" alt="">
                <h3>Carlos Vilcapoma</h3>
                <h4>Gerente - HBC LOGISTIC</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Grupo Valle desarrolló nuestro sitio web, servidor de correos y nos brinda actualmente soporte 24/7 en
                  nuestra plataforma tecnológica. Muchas gracias grupo valle.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <!-- CASE 2 -->
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/man.png" class="testimonial-img" alt="">
                <h3>Luis Pro Castillo</h3>
                <h4>Gerente - Endgame Gaming Arena</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Grupo Valle administra nuestro servidor ccboot, nuestras redes y el soporte necesario para no detener
                  nuestra productividad. Muy buen servicio.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <!-- CASE 3 -->
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/man.png" class="testimonial-img" alt="">
                <h3>Jaime Valdez</h3>
                <h4>Gerente - Titan Rieles</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Grupo Valle desarrolló nuestro website, administra nuestros productos online y nuestras campañas de
                  Google AdSense. Demuestran mucho compromiso y puntualidad.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <!-- CASE 4 -->
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/man.png" class="testimonial-img" alt="">
                <h3>Davis Carreño</h3>
                <h4>Jefe de inventarios - Bóticas Perú</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Grupo Valle desarrolló nuestro sistema de inventarios. Actualmente, brinda los servicios de
                  actualización y mejoras. Buen trabajo.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <!-- CASE 5 -->
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/man.png" class="testimonial-img" alt="">
                <h3>Henry Cossio</h3>
                <h4>Gerente - HL Ingeniería y servicios</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Grupo Valle diseñó nuestra página web, redes sociales y administra nuestros servidores de red y
                  correos. Gracias grupo valle.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- END - TESTIMONIAL -->


  <!--********************************************************-->
  <!--********************** CONTACT *************************-->
  <!--********************************************************-->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contáctanos</h2>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-about">
            <h3>Grupo Valle</h3>
            <p>Comunícate con nosotros a través del formulario o escríbenos directamente a nuestro canal de WhatsApp.
              También puedes visitar nuestras redes sociales.</p>
            <div class="social-links">
              <a href="#" class="whastapp"><i class="bi bi-whatsapp"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="twitter"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="info">
            <div>
              <i class="ri-map-pin-line"></i>
              <p>Jirón tambo real 223, Int 505<br>Chorrillos - Lima</p>
            </div>

            <div>
              <i class="ri-mail-send-line"></i>
              <p>contacto&#64;grupovalle.pe</p>
            </div>

            <div>
              <i class="ri-phone-line"></i>
              <p>+51 948 162 010</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">

            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Nombre completo"
                required>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Correo electrónico"
                required>
            </div>
            <div class="form-group">
              <input
                type="tel"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Teléfono de contacto"
                required>
            </div>
            <div class="form-group">
              <textarea
                class="form-control text-muted"
                name="message"
                rows="5"
                placeholder="¿Cúal es tu consulta?" value="¿Cúal es tu consulta?"
                required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje ha sido enviado. Gracias.</div>
            </div>
            <div class="text-center">
              <button type="submit">Enviar consulta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTACT -->

</main>
<!-- END - MAIN -->

<!--********************************************************-->
<!--********************** FOOTER **************************-->
<!--********************************************************-->
<footer id="footer" class="bg-dark text-white">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-12 text-center">
        <div class="copyright">
          &copy; Copyright 2024 <strong>Grupo Valle</strong>. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END - FOOTER -->
