<div class="container">

  <div class="section-title" data-aos="fade-up">
    <h2>Acerca de nosotros</h2>
  </div>

  <div class="row content">
    <div class="image col-xl-6 d-flex align-items-stretch justify-content-center justify-content-xl-start"
         data-aos="fade-right" data-aos-delay="150">
      <img class="img-fluid" src="assets/images/about/about_1.jpg" alt="">
    </div>

    <div class="col-xl-6  pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
      <p>En Grupo Valle, nuestra prioridad es mantener la calidad de nuestro servicio y hacer crecer tu negocio.
        Tenemos 10 años de experiencia resolviendo tus problemas y brindándote nuevas alternativas de crecimiento.
        Aquí están algunas métricas de nuestro trabajo:</p>

      <div class="container counts">

        <div class="row">
          <div class="col-xl-12 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left"
               data-aos-delay="300">

            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>
                      <strong>Clientes felices</strong> , con emprendimientos y/o empresas con crecimiento
                      sostenido.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-shop"></i>
                    <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>
                      <strong>Emprendimientos</strong>
                      puestos en marcha. Tecnológica, legal y contablemente.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>
                      <strong>Años de experiencia</strong> brindando servicios de calidad al mejor precio.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-card-checklist"></i>
                    <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>
                      <strong>Auditorias</strong> realizadas: Contables, laborales y de seguridad.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
