<div class="container">

  <div class="section-title" data-aos="fade-up">
    <h2>Casos de éxito</h2>
    <p>Conoce alguno de nuestros casos de éxito.</p>
  </div>

  <swiper-container
    #swiperTestimonials
    init="false"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <!-- CASE 1 -->
    <swiper-slide>
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img src="assets/images/testimonials/hbc.jpg" class="testimonial-img" alt="">
          <h3>Carlos Vilcapoma</h3>
          <h4>Gerente - HBC LOGISTIC</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Grupo Valle desarrolló nuestro sitio web, servidor de correos y nos brinda actualmente soporte 24/7 en
            nuestra plataforma tecnológica. Muchas gracias grupo valle.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </swiper-slide>

    <!-- CASE 2 -->
    <swiper-slide>
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img src="assets/images/testimonials/boticas-peru.jpg" class="testimonial-img" alt="">
          <h3>Davis Carreño</h3>
          <h4>Jefe de inventarios - Bóticas Perú</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Grupo Valle desarrolló nuestro sistema de inventarios. Actualmente, brinda los servicios de
            actualización y mejoras. Buen trabajo.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </swiper-slide>

    <!-- CASE 3 -->
    <swiper-slide>
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img src="assets/images/testimonials/endgame.jpg" class="testimonial-img" alt="">
          <h3>Luis Pro Castillo</h3>
          <h4>Gerente - Endgame Gaming Arena</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Grupo Valle administra nuestro servidor ccboot, nuestras redes y el soporte necesario para no detener
            nuestra productividad. Muy buen servicio.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </swiper-slide>

    <!-- CASE 4 -->
    <swiper-slide>
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img src="assets/images/testimonials/titan-riles.jpg" class="testimonial-img" alt="">
          <h3>Jaime Valdez</h3>
          <h4>Gerente - Titan Rieles</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Grupo Valle desarrolló nuestro website, administra nuestros productos online y nuestras campañas de
            Google AdSense. Demuestran mucho compromiso y puntualidad.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </swiper-slide>

    <!-- CASE 5 -->
    <swiper-slide>
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img src="assets/images/testimonials/hl.jpg" class="testimonial-img" alt="">
          <h3>Henry Cossio</h3>
          <h4>Gerente - HL Ingeniería y servicios</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Grupo Valle diseñó nuestra página web, redes sociales y administra nuestros servidores de red y
            correos. Gracias grupo valle.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>

</div>
