<div class="container-fluid">
  <div class="row">
    <div class="profile col-12 col-xl-6">
      <div class="row">
        <div class="col-12 col-xl-6 offset-xl-6">

          <div class="avatar">
            <img src="assets/images/team/herbert.jpg" alt="Herbert">
            <h1>Herbert Pro</h1>
            <p>Desarrollador de sistemas</p>
          </div>

          <div class="links">

            <!-- HOME -->
            <a class="me-2" [routerLink]="'/home'">
              <i class='bx bx-home-alt-2'></i>
            </a>

            <!-- PHONE -->
            <a class="me-2" href="tel:+51948162010" target="_blank">
              <i class='bx bx-phone'></i>
            </a>

            <!-- MAIL -->
            <a class="me-2" href="mailto:contacto@grupovalle.pe" target="_blank">
              <i class='bx bx-envelope'></i>
            </a>

            <!-- LINKIN -->
            <a href="https://www.linkedin.com/in/hprocastillo/" target="_blank">
              <i class='bx bxl-linkedin'></i>
            </a>

          </div>

        </div>
      </div>
    </div>
    <div class="resume col-12 col-xl-6">
      <div class="row">
        <div class="col-12 col-xl-6">

          <div class="description">
            <p>Desarrollador de sistemas con 15 años de experiencia implementando soluciones tecnológicas, como sistemas
              web
              de ventas e inventario, aplicativos móviles, redes cableadas e inalámbricas y centros de cómputo y
              servidores.</p>
          </div>

          <div class="skills">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
